{% extends "post/base.html" %}
{% block title %}
Tài liệu, sách
{% endblock title %}
{% block main %}
<div class="row">
    <div class="col-md-3">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Lọc tìm kiếm</span>
        </h4>
        {% load widget_tweaks %}
        <form method="get" class="border p-3">
            <div class="mb-3">
                <label for="">Tên sách</label>
                {% render_field form.name class="form-control" %}
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Tìm kiếm</button>
        </form>
    </div>
    <div class="col-md-8">
        <h2>Đề thi</h2>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Danh sách sách</span>
            <span class="badge badge-secondary badge-pill">{{ documents.count }}</span>
        </h4>
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sách</th>
                    <!-- <th>Source</th> -->
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {% if documents %}
                {% for document in documents %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ document.name }}</td>
                    <td><a href="/documents/{{document.id}}/">Link</td>
                    <td><a href="/documents/download/{{document.id}}" download class="btn btn-primary flex-last" type="submit"><i class="fas fa-download"></i>Downlaod</a>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock main %}