{% extends "post/base.html" %}
{% block title %}
Đề thi
{% endblock title %}
{% block main %}
<div class="row">
    <div class="col-md-3">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Lọc tìm kiếm</span>
        </h4>
        {% load widget_tweaks %}
        <form method="get" class="border p-3">
            <div class="mb-3">
                <label for="">Tên môn</label>
                {% render_field form.name class="form-control" %}
            </div>
            <div class="mb-3">
                <label for="">Mã môn</label>
                {% render_field form.exam_id class="form-control" %}
            </div>
            <div class="mb-3">
                <label for="">Giảng viên</label>
                {% render_field form.teacher class="form-control" %}
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Tìm kiếm</button>
        </form>
    </div>
    <div class="col-md-8">
        <h2>Đề thi</h2>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Danh sách đề thi</span>
            <span class="badge badge-secondary badge-pill">{{ exams.count }}</span>
        </h4>
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã môn</th>
                    <th>Tên môn</th>
                    <th>Giảng viên</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody>
                {% if exams %}
                {% for exam in exams %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ exam.exam_id }}</td>
                    <td>{{ exam.name }}</td>
                    <td>{{ exam.teacher }}</td>
                    <td><a href="/exams/{{exam.id}}/">Link</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock main %}